@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

body{
	margin: 0px;
	font-family:'Times New Roman', Times, serif;
	color: white;

}

.login-page{
	height:  100vh;
	display: flex;
	justify-content: center;
	/*align-items: center; */
	background: linear-gradient(
		135deg,
		#0f172a 0%,
		#1e3a8a 50%,
		#2563eb 100%
	);
}

.login-box input{
	padding: 12px;
	font-size: 16px;
}

.login-box button{
	padding: 12px;
	font-size: 16px;
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.header select{
	/* padding: 12px; */
	font-size: 16px;
	/* display: flex;
	justify-content: center; */
	flex-shrink: 0px;
}