
body{
	margin: 0px;
	font-family:'Times New Roman', Times, serif;
	color: white;
}

.projects-page {
	height:  100vh;
	justify-content: center;
	background: linear-gradient(
		135deg,
		#0f172a 0%,
		#1e3a8a 50%,
		#2563eb 100%
	);
}

.project-form input{
	/* padding: 12px; */
	color: chartreuse;
}
